input.ng-invalid.ng-touched{
  border-color: red;
}

.firstLink{
  background-color: blueviolet;
  color: white;
  text-decoration: none;
}

.afterClick{
  background-color: green;
  color: white;
  text-decoration: none;
}

