<p>form-test works!</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <label>firstName</label>
        <input type="text" formControlName="firstName"><br><br>
        <label>LastName</label>
        <input type="text" formControlName="lastName">

    <div formGroupName="address">

        <label>Street</label>
        <input type="text" formControlName="street"><br><br>
        <label>city</label>
        <input type="text" formControlName="city">

        <button type="button" (click)="updateForm()">updateNewDetail</button>

       <div formArrayName="hobbies">

        <button type="button" (click)="addHobby()">Add Hobby</button>

        <div *ngFor="let hob of hobby; let i = index">

            <label>Hobbies : </label>
            <input type="text" [formControlName]="i">

        </div>


       </div>

    </div>

    <p>Fill form to submit</p>
    
<button type="submit" [disabled]="!profileForm.valid">Submit</button>

    <p>profileForm status : {{ profileForm.status }}</p>

    <p>{{ profileForm.value | json }} </p>

    <p *ngIf="profileForm.get('firstName').valid">firstname is valid</p>

</form>


